# Pandas

In [ ]:
Panda is a library in python which is used for data wrangling(data cleaning).

In [ ]:
Function that we can do in Python:-

In [ ]:
Uses of Pandas:-

# Installing Pandas

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\lyric\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lyric\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lyric\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\lyric\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\lyric\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\lyric\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd

In [4]:
data1={"Name" : ["Divyanshu","Rohit","Anushka"],"Age" : [19,20,10],"Gender" : ["Male","Male","Female"]}

In [5]:
type(data1)

dict

## DataFrames

In [6]:
df=pd.DataFrame(data1)

In [7]:
df

        Name  Age  Gender
0  Divyanshu   19    Male
1      Rohit   20    Male
2    Anushka   10  Female

In [8]:
type(df)

pandas.core.frame.DataFrame

## Series

In [9]:
l1=df["Name"]

In [10]:
l1

0    Divyanshu
1        Rohit
2      Anushka
Name: Name, dtype: object

In [11]:
type(l1)

pandas.core.series.Series

In [12]:
df["Age"]

0    19
1    20
2    10
Name: Age, dtype: int64

In [23]:
df["Gender"]

0      Male
1      Male
2    Female
Name: Gender, dtype: object

In [20]:
df["Age"].max()  #finding maximum age from the dayta

20

## Describe

In [ ]:
Give Summary Statistics Of Data

In [53]:
country = ["Brazil", "Russia", "India", "China", "South Africa"]
capital = ["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"]
area = [8.516, 17.10, 3.286, 9.67, 2.98]
population = [200.4, 143.5, 1252, 133, 4.3]


brics=pd.DataFrame(data={'country': country, 
                  'capital': capital,
                  'area': area,
                  'population': population})

In [54]:
brics

        country    capital    area  population
0        Brazil   Brasilia   8.516       200.4
1        Russia     Moscow  17.100       143.5
2         India  New Delhi   3.286      1252.0
3         China    Beijing   9.670       133.0
4  South Africa   Pretoria   2.980         4.3

In [60]:
brics['capital']

0     Brasilia
1       Moscow
2    New Delhi
3      Beijing
4     Pretoria
Name: capital, dtype: object

In [61]:
brics['population']

0     200.4
1     143.5
2    1252.0
3     133.0
4       4.3
Name: population, dtype: float64

In [57]:
brics.describe()

            area   population
count   5.000000     5.000000
mean    8.310400   346.640000
std     5.762066   511.167158
min     2.980000     4.300000
25%     3.286000   133.000000
50%     8.516000   143.500000
75%     9.670000   200.400000
max    17.100000  1252.000000

In [56]:
brics["area"].max()

17.1

In [59]:
brics["population"].min()

4.3

### Shape 
    Dimension of data
    Give (no.of rows,no.of columns)

In [62]:
brics

        country    capital    area  population
0        Brazil   Brasilia   8.516       200.4
1        Russia     Moscow  17.100       143.5
2         India  New Delhi   3.286      1252.0
3         China    Beijing   9.670       133.0
4  South Africa   Pretoria   2.980         4.3

In [64]:
brics.shape

(5, 4)

### Index

In [65]:
brics

        country    capital    area  population
0        Brazil   Brasilia   8.516       200.4
1        Russia     Moscow  17.100       143.5
2         India  New Delhi   3.286      1252.0
3         China    Beijing   9.670       133.0
4  South Africa   Pretoria   2.980         4.3

In [66]:
brics.index

RangeIndex(start=0, stop=5, step=1)

In [67]:
brics.index = ['A','B','C','D','E']

In [69]:
brics

        country    capital    area  population
A        Brazil   Brasilia   8.516       200.4
B        Russia     Moscow  17.100       143.5
C         India  New Delhi   3.286      1252.0
D         China    Beijing   9.670       133.0
E  South Africa   Pretoria   2.980         4.3

In [70]:
brics.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [71]:
brics.index = range(1,10,2)  #Changed the indexing to odd numbers

In [72]:
brics

        country    capital    area  population
1        Brazil   Brasilia   8.516       200.4
3        Russia     Moscow  17.100       143.5
5         India  New Delhi   3.286      1252.0
7         China    Beijing   9.670       133.0
9  South Africa   Pretoria   2.980         4.3

### Columns
      To see all the columns

In [73]:
brics.columns

Index(['country', 'capital', 'area', 'population'], dtype='object')

In [74]:
list(brics.columns)                  #This are all the columns..

['country', 'capital', 'area', 'population']

In [75]:
brics.dtypes     #datatypes of every objects..

country        object
capital        object
area          float64
population    float64
dtype: object

In [76]:
brics

        country    capital    area  population
1        Brazil   Brasilia   8.516       200.4
3        Russia     Moscow  17.100       143.5
5         India  New Delhi   3.286      1252.0
7         China    Beijing   9.670       133.0
9  South Africa   Pretoria   2.980         4.3

In [77]:
brics.index=['a','b','c','d','e']

In [78]:
brics

        country    capital    area  population
a        Brazil   Brasilia   8.516       200.4
b        Russia     Moscow  17.100       143.5
c         India  New Delhi   3.286      1252.0
d         China    Beijing   9.670       133.0
e  South Africa   Pretoria   2.980         4.3

In [79]:
brics.country

a          Brazil
b          Russia
c           India
d           China
e    South Africa
Name: country, dtype: object

In [81]:
brics.area.max()

17.1

### Reseting Index

In [84]:
brics.reset_index(inplace=True)    #permanent replacement of older index

In [ ]:
brics

  index       country    capital    area  population
0     a        Brazil   Brasilia   8.516       200.4
1     b        Russia     Moscow  17.100       143.5
2     c         India  New Delhi   3.286      1252.0
3     d         China    Beijing   9.670       133.0
4     e  South Africa   Pretoria   2.980         4.3

In [15]:
brics.drop(Index,axis)

NameError: name 'Index' is not defined

In [16]:
brics

        country    capital    area  population
0        Brazil   Brasilia   8.516       200.4
1        Russia     Moscow  17.100       143.5
2         India  New Delhi   3.286      1252.0
3         China    Beijing   9.670       133.0
4  South Africa   Pretoria   2.980         4.3

country = ["Brazil", "Russia", "India", "China", "South Africa"]
capital = ["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"]
area = [8.516, 17.10, 3.286, 9.67, 2.98]
population = [200.4, 143.5, 1252, 133, 4.3]


brics=pd.DataFrame(data={'country': country, 
                  'capital': capital,
                  'area': area,
                  'population': population})

In [2]:
brics

NameError: name 'brics' is not defined

In [3]:
country = ["Brazil", "Russia", "India", "China", "South Africa"]
capital = ["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"]
area = [8.516, 17.10, 3.286, 9.67, 2.98]
population = [200.4, 143.5, 1252, 133, 4.3]


brics=pd.DataFrame(data={'country': country, 
                  'capital': capital,
                  'area': area,
                  'population': population})

NameError: name 'pd' is not defined

In [5]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\lyric\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lyric\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lyric\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\lyric\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\lyric\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\lyric\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [7]:
import pandas as pd

In [8]:
country = ["Brazil", "Russia", "India", "China", "South Africa"]
capital = ["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"]
area = [8.516, 17.10, 3.286, 9.67, 2.98]
population = [200.4, 143.5, 1252, 133, 4.3]


brics=pd.DataFrame(data={'country': country, 
                  'capital': capital,
                  'area': area,
                  'population': population})

In [9]:
brics

        country    capital    area  population
0        Brazil   Brasilia   8.516       200.4
1        Russia     Moscow  17.100       143.5
2         India  New Delhi   3.286      1252.0
3         China    Beijing   9.670       133.0
4  South Africa   Pretoria   2.980         4.3

In [11]:
b=brics.rename(columns={"country": "count","area":"ar"})

In [12]:
b

          count    capital      ar  population
0        Brazil   Brasilia   8.516       200.4
1        Russia     Moscow  17.100       143.5
2         India  New Delhi   3.286      1252.0
3         China    Beijing   9.670       133.0
4  South Africa   Pretoria   2.980         4.3

In [14]:
a=brics.rename(rows={2:"Bharat",4:"India"})

TypeError: DataFrame.rename() got an unexpected keyword argument 'rows'

In [17]:
brics.index=['a','b','c','d','e']

In [18]:
brics

        country    capital    area  population
a        Brazil   Brasilia   8.516       200.4
b        Russia     Moscow  17.100       143.5
c         India  New Delhi   3.286      1252.0
d         China    Beijing   9.670       133.0
e  South Africa   Pretoria   2.980         4.3

In [19]:
brics.reset_index()

  index       country    capital    area  population
0     a        Brazil   Brasilia   8.516       200.4
1     b        Russia     Moscow  17.100       143.5
2     c         India  New Delhi   3.286      1252.0
3     d         China    Beijing   9.670       133.0
4     e  South Africa   Pretoria   2.980         4.3

In [22]:
b=brics.drop(labels=index,axis=1,inplace=True)

NameError: name 'index' is not defined